@font-face {
   font-family: 'Poppins-Bold';
   font-display: swap;
   src: url('Poppins-Bold/font.ttf');
}
@font-face {
   font-family: 'Fashion Fetish Italic';
   font-display: swap;
   src: url('Fashion Fetish Italic/font.ttf');
}
@font-face {
   font-family: 'Fashion Fetish Regular';
   font-display: swap;
   src: url('Fashion Fetish Regular/font.ttf');
}
