@font-face {
   font-family: 'Fashion Fetish Regular';
   font-display: swap;
   src: url('file:///C:/Users/Tortugafamily/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-02-02_171639/fonts/Fashion%20Fetish%20Regular/font.ttf');
}
